# Node
node_modules/
frontend/node_modules/
.next/
frontend/.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment Variables
.env
.env*.local

# OS Files
.DS_Store
Thumbs.db
